/* Responsive for Mobile Device */
@media screen and (max-width: 576px) {
  .hamberger {
    display: block;
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin-right: 20px;
  }
  .banner-child-3 i {
    display: block;
  }
  .nav-links,
  .trainer-name5,
  .trainer-name6 {
    display: none;
  }
  .navbar,
  .banner {
    max-width: 90%;
  }

  .banner-left-container,
  .banner-right-container {
    width: 100%;
    position: relative;
  }
  .banner-left-container {
    margin-right: 0px;
  }
  .banner-right-container img {
    /* border: 2px solid blue; */
    width: 90%;
    margin: 0 auto;
  }
  .banner-title h1 {
    width: 576px;
    font-size: 20px;
  }
  .banner-left-container p {
    padding-right: 0;
  }
  .banner-left-container span {
    font-weight: 400;
    font-size: 5rem;
  }
  .banner,
  .footer-container,
  .child-container,
  .teams-title,
  .main-container,
  .trainer {
    flex-direction: column;
    max-width: 90%;
    align-items: center;
    margin: 0 auto;
  }
  .training-packages-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .packages-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .packages-container {
    gap: 30px;

    padding: 20px 0;
    border-radius: 18px;
  }
  .banner img {
    width: 100%;
  }
  .bmi-calculator-heading {
    width: 90%;
    margin-top: 50px;
    margin-left: 20px;
  }
  .btn-banner button {
    width: 100%;
    margin-bottom: 15px;
  }

  .banner-left-container h1 {
    width: 100%;
    font-size: 3.8rem;
  }

  .banner-child-1 {
    position: absolute;
    padding: 10px 20px;
    top: 15%;
    right: 0;
  }
  .banner-child-1 h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .banner-child-1 p {
    font-size: 0.8rem;
  }

  .banner-child-2 {
    padding: 10px 20px;
    top: 60%;
    left: 0%;
  }
  .banner-child-2 h1 {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .banner-child-2 p {
    font-size: 0.7rem;
    font-weight: 400;
  }

  .child-container {
    margin-right: 50px;
  }

  .parents {
    margin-top: 600px;
  }
  .parents p {
    width: 80%;
    margin-bottom: 14px;
    margin-left: 40px;
  }
  .parents .short-des {
    padding: 0;
  }

  .main-container {
    margin-top: 50px;
  }
  .title-part,
  .bmi-calculator-left {
    width: 100%;
  }
  .title-part button {
    width: 100%;
  }
  .image-part {
    width: 100%;
    margin-top: 40px;
  }

  .bmi-calculator-main {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
  }
  .bmi-calculator-heading p {
    width: 100%;
  }
  .bmi-calculator-right {
    width: 100%;
  }

  .bmi-calculator-input-box {
    display: flex;
    flex-direction: column;
  }
  .input-box1,
  .input-box-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .cal-btn {
    margin-top: 10px;
  }
  #input {
    width: 50%;
  }
  .select-box-first {
    width: 50%;
  }
  .select-box-second {
    width: 100%;
  }
  .trainer {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .trainer-teams-1,
  .trainer-teams-2 {
    display: none;
  }
  .select-container {
    width: 250px;
    height: 40px;
    background-color: #3b3b3b;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  .trainer img {
    width: 100%;
    margin: 0 auto;
  }
  .trainer-name {
    top: 22%;
    left: 20%;
  }
  .trainer-name2 {
    top: 47%;
    left: 20%;
  }
  .trainer-name3 {
    top: 70%;
    left: 20%;
  }
  .trainer-name4 {
    top: 95%;
    left: 20%;
  }

  .footer {
    margin-top: 20px;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-left,
  .footer-midle,
  .footer-right {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .last-line {
    width: 90%;
    justify-content: start;
  }
}
