/* Responsive for Mobile Device */
@media screen and (max-width: 576px) {
 /* navbar responsive Start   */
  .navbar{
    margin: 0;
    padding: 30px 20px 5px 20px;
  }
  .nav-links {
    display: none;
  }
  .hamberger {
    display: block;
    /* navbar responsive Ends  */

}
