@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face{
  font-family: miama;
  src: url('../fonts/Miama.woff2') format('truetype');
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #000000;
}
/* Shared Style */
.btn-primary {
  background-color: #e6533c;
  color: aliceblue;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}
main{
  max-width: 1060px;
  margin: 0 auto; 
}
/* shared style */
.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main > section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* navbar starts here */
.navbar {
  max-width: 1060px;
  /* border: 2px solid #dadada; */
  margin: 0 auto;
  padding-top:50px ;
}
.navbar h1 {
  color: #e6533c;
  font-size: 38px;
  font-weight: 800;
}
.btn-home {
  color: white;
  background-color: #e6533c;
  border: none;
  border-radius: 50px;
  padding: 5px 12px;
  /* cursor: pointer; */
}
.nav-links {
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 3vw;
  padding: 10px;
  cursor: pointer;
}
.hamberger {
  color: white;
  font-size: 25px;
  display: none;
}
/* navbar Ends here */
/* banner section starts here */
.banner-container {
  width: 100%;
  height: 752px;
  border: none;
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.banner{
  max-width:1060px ;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 32px;
  gap: 20px;
}
.banner-left-container{
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
  margin: 0 auto;
}
.banner-left-container h1{
  font-size: 5rem;
  font-weight: 900;
  color: white;
  row-height: 1px;
  line-height: 5rem;
  margin-top: 5rem;
  margin-bottom: 28px;
}
.banner-left-container span{
  font-family: miama;
  font-weight: 400;
  font-size: 7rem;
}
.banner-left-container p{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 180px;
  margin-bottom: 28px;
}
.banner-btn1{
  color: white;
  background-color: #e6533c;
  border: none;
  border-radius: 50px;
  padding: 16px 40px 16px 40px;
  cursor: pointer;
  margin-right: 10px;
}
.banner-btn2{
  color: white;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  padding: 16px 40px 16px 40px;
  cursor: pointer;
}
.banner-right-container{
  width: 50%;
  /* border: 2px solid blue; */
}
.banner-right-container img{
  /* border: 2px solid blue; */
  float: right;
  position: relative;
}
.banner-child-1{
  width: max-content;
  backdrop-filter: blur(20px);
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  position: absolute;
  top: 25%;
  left: 70%;
}
.banner-child-1 h1{
  font-size: 48px;
  font-weight: 800;
}
.banner-child-1 p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFFA6;
}
.banner-child-2{
  width: 206px;
  height: 96px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 30px;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  position: absolute;
  top: 60%;
  left: 52%; 
}
.banner-child-2 h1{
  font-size: 24px;
  font-weight: 800;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.banner-child-2 p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFFA6;
  margin-left: 40px;
}
.banner-child-3{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e6533c;
  position: absolute;
  top: 63.5%; 
  left: 53%;
  
}
/* Main Section start here */
.circular-image {
  width: 180px;
  height: 180px; 
  border-radius: 50%;
  border: 5px solid #1a1a1a;
  object-fit: cover;
}

/* main section styles start here */
.parents {
  max-width: 1060px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.parents h1 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
.parents h3 {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}
.parents .short-des {
  padding: 0 100px;
}
.short-des{
  margin-bottom: 50px;
}
.parents p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin-top: 14px;
}
.child-container {
  max-width: 1060px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.child-container > .image-container1{
  /* width: 25%; */
}
/* Run an Extra Section start Here */
.main-container {
  width: 1060px;
  margin: 0 auto;
  background: #222222;
  padding: 24px;
  border-radius: 18px;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 130px;
}
.title-part {
  width: 50%;
  /* border: 2px solid #af0a0a; */
}
.title-part h1 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
  margin-top: 20px;
}
.title-part p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 34px;
}
.title-part button {
  width: 224px;
  height: 54px;
  background-color: #e6533c;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 50px;
  cursor: pointer;
}
.image-part {
  width: 50%;
  /* border: 2px solid #9e06c4; */
}
.image-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  /* border: 2px solid #9e06c4; */
}
/* Trainer Container Start Here */
.training-container{
  /* border: 2px solid #9e06c4; */
  min-height: 600px;
  margin-top: 100px;
  color: #FFFFFFA6;
}
.training-container h2{
  font-size: 48px;
  font-weight: 900;
  color: #ffffff;
}
.training-container p{
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
  width: 60%;
}
.training-container > .row-2-images{
  height: 250px;
}
.training-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: 58px;
}
.row-1-images{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.row-1-images> div img {
  object-fit: cover;
  width: 100%;

}
.row-2-images{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* overflow: hidden; */
}
.bmi-calculator5{
  /* border:2px solid #9e06c4; */
  width: 671px;
  height: 120px;
  margin-top: 78px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; 
}
.bmi-calculator5 h2{
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 14px;
}
.bmi-calculator5 p{
  width: 600px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.teams-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.teams-title h1 {
  color: white;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 14px;
}
.teams-title p {
  max-width: 600px;
  color: #8b8c8c;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 34px;
  line-height: 2.5vh;
}
.select-container{

}
/* Table Container Start Here */
.table-container {
  padding: 30px;
  margin-top: 100px;
  background-color: #272727;
  width: 100%;
  height: 400px;
  display: flex;
}
.table-container1{
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
}
.table-data {
  width: 50%;
  margin: 0 auto;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #dadada;
  padding: 5px 10px;
}
.table-data h2 {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 34px;
  margin-top: 34px;
}
th {
  font-size: 1rem;
  color: white;
  font-weight: 400;
}
td {
  font-size: 0.9rem;
  color: #8b8c8c;
  font-weight: 400;
}
.bmi-calculator{
  margin-left: 200px;
}
.bmi-calculator h2 {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 14px;
  margin-top: 34px;
}
.bmi-calculator p {
  max-width: 400px;
  font-size: 0.8rem;
  color: #8b8c8c;
  margin-bottom: 34px;
}
.bmi-calculator input{
  width: 250px;
  height: 40px;
  background-color: #3B3B3B;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}
.select-container{
  position: relative;
  display: flex;
  justify-content: center;
  
}
.select-box-1{
border: none;
appearance: none;
padding: 0 30px 0 15px;
  background-color: #3B3B3B;
  color: #8b8c8c;
  min-width: 250px;
  height: 40px;
  border-radius: 8px;
}
.select-box-2{
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  background-color: #3B3B3B;
  color: #8b8c8c;
  min-width: 500px;
  height: 40px;
  border-radius: 8px;
}

#input2{
  width: 250px;
  height: 40px;
  margin-left: 10px;
}
#input4{
  width: 250px;
  height: 40px;
  margin-left: 10px;
}
#input5{
  width: 515px;
  height: 40px;
}


/* Trainer Section */
.trainer {
  position: relative;
  background-color: #1f1f1f;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
  border-radius: 18px;
}
.trainer img {
  width: 300px;
  height: 270px;
  border-radius: 18px;
  object-fit: cover;
}
.trainer-name {
  position: absolute;
  top: 45%;
  right: 50%;
  left: 10%;
  transform: translate(-40px, -50px);
}
.trainer h3 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.trainer p {
  color: #8b8c8c;
}
.trainer-name2 {
  position: absolute;
  top: 45%;
  right: 100%;
  left: 40%;
  transform: translate(-40px, -50px);
}
.trainer-name3 {
  position: absolute;
  top: 45%;
  left: 10%;
  left: 75%;
  transform: translate(-40px, -50px);
}
.trainer-name4 {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-40px, -50px);
}
.trainer-name5 {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-40px, -50px);
}
.trainer-name6 {
  position: absolute;
  top: 90%;
  left: 75%;
  transform: translate(-40px, -50px);
}
/* Footer Section Start */
.footer {
  position: relative;
  max-width: 100%;
  height: 400px;
  background-color: #1f1f1f;
  margin: 0 auto;
  bottom: 0px;
}
.footer-container {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
}
.footer-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.footer-left h1 {
  color: #e5543e;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 14px;
}
.footer-left p {
  color: #8b8c8c;
  max-width: 450px;
  font-size: 0.8rem;
  line-height: 2.2vh;
  font-weight: 400;
}
.footer-midle {
  margin-top: 80px;
  margin-left: 300px;
  width: 33%;
  display: flex;
  flex-direction: column;
}
.footer-midle h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer-midle a {
  color: #8b8c8c;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  margin-top: 14px;
}
.footer-right {
  margin-top: 80px;
  margin-left: 100px;
  width: 33%;
  display: flex;
  flex-direction: column;
}
.footer-right h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer-right a {
  color: #8b8c8c;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  margin-top: 14px;
}
.last-line {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last-line p {
  font-size: 14px;
  font-weight: 400;
  color: #8b8c8c;
  margin-top: 20px;
}
hr {
  background-color: #8b8c8c;
  max-width: 1060px;
  margin: 0 auto;
}
/* Footer Section Start */


